
 @media only screen and (max-width: 1201px)
 {
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        flex-direction: column;
        height: 478px;
        transition: all 0.7s ease-out;
    }
    .rightNav{
        text-align: center;
    }
    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }
    #search{
        width: 100%;
    }
    .burger{
        display: block;
    }
    .h-nav-resp{
        height: 52px;
    }
    .v-class-resp{
        opacity: 0;
    }
    .section{
        flex-direction: column-reverse;
    }
    .text-small, .text-big , .buttons{
        text-align: center;
    }
    .paras{
        padding: 0px;
    }
    .thumbnail img{
        width: 40%;        
    }
}