*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    cursor: pointer;
    top: 0%;
    background-color: black !important; 
}


.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 100px;
    border: 2px solid whitesmoke;
    border-radius: 50%;
}

.nav-list{
    width: 70%;    
    display: flex;
    align-items: center;

}

.nav-list li{
    list-style: none;
    padding: 26px 30px;

}

.nav-list li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-list li a:hover{
    color: gray;
}

.rightNav{
    width: 30%;    
    text-align: right;
    padding: 0px 23px;
}

.login-btn {
    background-color: blue; 
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: ;
  }
  
  .login-btn:hover {
    background-color: #ff421a; 
  }
  

.background{
    background: rgba(0,0,0,0.7) url('../img/sekolah1.jpg');
    background-size: cover;
    background-blend-mode: darken;
}

.firstSection{
    height: 100vh;
}

.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 50%;
    margin: auto;
    height: 80%;
}

.firstHalf{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.secondHalf{
    width: 30%;
}

.secondHalf img{
    width: 70%;
    border: 4px solid wheat;
    border-radius: 15px;
    display: block;
    margin: auto;
}

.text-big{
    font-size: 40px;

}

.text-small{
    font-size: 20px;
}

.btn{    
    padding: 6px 18px;
    margin: 9px 3px;
    border: 2px solid wheat;
    border-radius: 8px;
    background: none;
    color: whitesmoke;
    cursor: pointer;
}

.btn-sm{
    padding: 6px 10px;
    vertical-align: center;
}

.section{
    /* height: 300px; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
}

.secLeft{    
    flex-direction: row-reverse;
}

.paras{
    padding: 0px 65px ;
}

.section{
    padding: 16px 0px;
}

.sectionSubTag{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.thumbnail img{
    width: 80%;
    border: 2px solid black;
    border-radius: 15px;
    display: block;
    margin: auto;
}

/* Contact Section */

.contact{
    background-color: rgb(240, 235, 227);
    height: 80vh;       
}

.text-center{
    text-align: center;
    padding-top: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 35px;
}

.form{
    max-width: 1144px;
    margin: 14px auto;
}
 .form-list {
     width: 100%;
     padding: 5px;
     font-size: 19px;
     border:  2px solid saddlebrown;
     border-radius: 6px;
     margin: 10px 0px;
 }

 .sbtn {
    border: 2px solid white;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: all 0.3s; 
 }

.sbtn:hover {
    background-color: white; 
    color: #000; 
    border: 2px solid #000; 
}
 
 .text-footer{
     text-align: center;
     padding: 30px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     display: flex;
     justify-content: center;
     color: whitesmoke;
 }

 .burger{
     display: none;
    position: absolute;
    cursor: pointer;
    right: 5px;
    top: 15px;
 }

 .line{
     width: 33px;
     background-color: white;
     height: 4px;
     margin: 3px 3px;
 }

 .contact {
    background-color: #f9f9f9; 
    padding: 40px 0;
    text-align: center;
}

.contact-container {
    max-width: 800px;
    margin: 0 auto;
}

.section-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333; 
}

.section-description {
    font-size: 16px;
    margin-bottom: 30px;
    color: #666; 
}

.contact-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd; 
    border-radius: 5px;
}

.form-textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd; 
    border-radius: 5px;
    resize: none;
}

.btn-primary {
    background-color: #007BFF; 
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


